body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:270px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:270px;
}
#u234 {
  position:absolute;
  left:2px;
  top:127px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(40, 40, 40, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u235 {
  position:absolute;
  left:0px;
  top:220px;
  width:360px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u236 {
  position:absolute;
  left:10px;
  top:16px;
  width:348px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:0px;
  top:290px;
  width:360px;
  height:350px;
  overflow:hidden;
}
#u237_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:350px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u237_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:260px;
}
#u239 {
  position:absolute;
  left:2px;
  top:122px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u241 {
  position:absolute;
  left:10px;
  top:12px;
  width:348px;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u242 {
  position:absolute;
  left:10px;
  top:40px;
  width:340px;
  height:1px;
}
#u243 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u244 {
  position:absolute;
  left:10px;
  top:50px;
  width:340px;
  height:30px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  position:absolute;
  left:0px;
  top:270px;
  width:360px;
  height:82px;
}
#u247 {
  position:absolute;
  left:2px;
  top:33px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u248 {
  position:absolute;
  left:0px;
  top:270px;
  width:360px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u249 {
  position:absolute;
  left:10px;
  top:12px;
  width:348px;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  position:absolute;
  left:10px;
  top:320px;
  width:340px;
  height:21px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u252 {
  position:absolute;
  left:10px;
  top:309px;
  width:340px;
  height:1px;
}
#u253 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u254 {
  position:absolute;
  left:10px;
  top:90px;
  width:340px;
  height:35px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256 {
  position:absolute;
  left:10px;
  top:135px;
  width:340px;
  height:35px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u258 {
  position:absolute;
  left:10px;
  top:180px;
  width:340px;
  height:35px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u260 {
  position:absolute;
  left:10px;
  top:225px;
  width:340px;
  height:20px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.6);
  text-align:center;
}
#u262 {
  position:absolute;
  left:15px;
  top:15px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.6);
  text-align:center;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
