body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
}
#u463 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
}
#u464 {
  position:absolute;
  left:2px;
  top:92px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465 {
  position:absolute;
  left:0px;
  top:220px;
  width:360px;
  height:405px;
  overflow:hidden;
}
#u465_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:405px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u465_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:276px;
}
#u466 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:276px;
}
#u467 {
  position:absolute;
  left:2px;
  top:130px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(40, 40, 40, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u468 {
  position:absolute;
  left:0px;
  top:226px;
  width:360px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u469 {
  position:absolute;
  left:10px;
  top:16px;
  width:348px;
  word-wrap:break-word;
}
#u470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:276px;
}
#u470 {
  position:absolute;
  left:0px;
  top:276px;
  width:360px;
  height:276px;
}
#u471 {
  position:absolute;
  left:2px;
  top:130px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:240px;
}
#u472 {
  position:absolute;
  left:0px;
  top:552px;
  width:360px;
  height:240px;
}
#u473 {
  position:absolute;
  left:2px;
  top:112px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(40, 40, 40, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u474 {
  position:absolute;
  left:0px;
  top:742px;
  width:360px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u475 {
  position:absolute;
  left:10px;
  top:16px;
  width:348px;
  word-wrap:break-word;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(40, 40, 40, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u476 {
  position:absolute;
  left:0px;
  top:502px;
  width:360px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u477 {
  position:absolute;
  left:10px;
  top:16px;
  width:348px;
  word-wrap:break-word;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6);
  text-align:center;
}
#u478 {
  position:absolute;
  left:15px;
  top:15px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(255, 255, 255, 0.6);
  text-align:center;
}
#u479 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
